@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Syncopate:wght@400;700&display=swap');

.mainContent {
    margin: 0px 50px;
}

.headerDetailsAndBtn {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 910px;
    align-items: flex-end;
    margin: 10px auto 0px auto;
}
    .goBackBtn {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 16px;
        background-color: #17a2ba;
        color: #fff;
        border: none;
        border-radius: 3px;
        width: 100px;
        height: 40px;
        /* position: absolute;
        right: 30px; */
        padding: 3px 1px 1px;
        margin: 30px 1px 20px auto;
    }
.detailsCard {
    max-width: 910px;
    margin: 0 auto;
}
.galleryHeaderBlock {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 910px;
    align-items: center;
    margin: 30px auto 5px;
}
    .galleryHeading {
        font-family: 'Raleway', Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 28px;
        text-align: left;
        text-transform: uppercase;
        /* border-bottom: 2px solid #d39c2f; */
        letter-spacing: 1px;
        color: #7a7a7a;
        padding-top: 20px;
    }
        .underlineAqua {
            border-bottom: 2px solid #17a2ba;
        }
        .underlineSage {
            border-bottom: 2px solid #77aa77;
        }
        .underlineGold {
            border-bottom: 2px solid #d39c2f;
        }
        .underlinePlum {
            border-bottom: 2px solid #841c6f;
        }
        .underlineBrick {
            border-bottom: 2px solid #840705;
        }
    .newGalleryBtn {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 16px;
        background-color: #ffc107;
        color: #000;
        border: none;
        border-radius: 3px;
        width: 180px;
        height: 40px;
        /* position: absolute;
        right: 0px; */
        padding: 3px 1px 1px;
        margin: 30px 1px 20px auto;
    }

.aboutGalleryInput {
    white-space: pre-wrap !important;
    white-space: pre-line !important;
}
/* Spacers */
.spacer13 {
    height: 13px;
    width: 13px;
    background-color: transparent;
}
.spacer25 {
    height: 25px;
    width: 25px;
    background-color: transparent;
}
.spacer50 {
    height: 50px;
    width: 50px;
    background-color: transparent;
}
.spacer75 {
    height: 75px;
    width: 75px;
    background-color: transparent;
}

/* Thumbnail Content*/
.thumbnailListContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 10px auto;
    padding: 10px 0px;
}
    .thumbnailView {
        padding: 0px 0px 30px 0px;
    }
        .thumbnailImgBox {
            display: flex;
            justify-content: center;
            width: 280px;
            height: 170px;
            overflow: hidden;
            /* background-color: #2d2d2d; */
            background-color: #fff;
            border: 1px solid #d6d6d6;
            border-radius: 4px;
            padding: 0;
            margin: 0;
        }
        .thumbnailImgBox img {
            object-fit: cover;
            width: 100%;
            height: 100%; 
            margin: 0;
        }
        .thumbnailImg {
            border: none;
            padding: 0;
            margin: 0;
        }
        .thumbnailTitlePlusEditDel {
            display: flex;
            justify-content:space-between;
            margin-top: 10px;
        }
        .thumbnailTitlePlusFav{
            width: 280px;
            display: flex;
            justify-content:space-between;
            margin-top: 10px;
        }
            .thumbnailTitle {
                font-family: 'Raleway', Arial, Helvetica, sans-serif;
                font-weight: 500;
                font-size: 14px;
                letter-spacing: 1px;
                text-align: left;
                text-transform: uppercase;
                text-decoration: none;
                color: #7a7a7a;
                width: 220px;
                margin: 3px 6px 0px 2px;
            }
                .thumbnailTitle:hover {
                    text-decoration: underline;
                }
            .categoryThumb {
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 500;
                font-size: 11px;
                font-style: italic;
                letter-spacing: 0.5px;
                text-align: left;
                color: #c4c4c4;
                margin: 2px 6px 0px 2px;
                text-decoration: none;
            }
            .createDateThumb {
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 500;
                font-size: 11px;
                letter-spacing: 0.5px;
                text-align: left;
                color: #c4c4c4;
                margin: 2px 6px 0px 2px;
                text-decoration: none;
            }
            .createdByThumb {
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 500;
                font-size: 11px;
                letter-spacing: 0.5px;
                text-align: left;
                color: #c4c4c4;
                margin: 2px 6px 0px 2px;
                text-decoration: none;
            }
            .thumbnailEditDelete{
                margin-right: 0px;
            }
                .thumbnailEditBtn, .thumbnailDeleteBtn {
                    display: inline-block;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 14px;
                    line-height: 1.5;
                    user-select: none;
                    color: #a8a8a8;
                    background-color: transparent;
                    border: none;
                    padding: 1px 4px;
                    border-radius: 0;
                }
                .thumbnailEditBtn:hover, .thumbnailDeleteBtn:hover {
                    color: #7a7a7a;
                }
            .thumbnailFavBlock{
                margin-right: 0px;
            }
                .thumbnailFavBtn {
                    display: inline-block;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 16px;
                    line-height: 1.5;
                    user-select: none;
                    color: #d6d6d6;
                    background-color: transparent;
                    border: none;
                    padding: 1px 4px;
                    border-radius: 0;
                    -webkit-text-fill-color: #fff; /* Will override color (regardless of order) */
                    -webkit-text-stroke-width: 1px;
                    -webkit-text-stroke-color: #d6d6d6;
                }
                    .thumbnailFavBtn:hover {
                        color: #d6d6d6;
                        -webkit-text-fill-color: #d6d6d6; /* Will override color (regardless of order) */
                        -webkit-text-stroke-width: 1px;
                        -webkit-text-stroke-color: #d6d6d6;
                    }
                .thumbnailFavBtnClicked {
                    display: inline-block;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 16px;
                    line-height: 1.5;
                    user-select: none;
                    color: #840705;
                    background-color: transparent;
                    border: none;
                    padding: 1px 4px;
                    -webkit-text-fill-color: #840705; /* Will override color (regardless of order) */
                    -webkit-text-stroke-width: 1px;
                    -webkit-text-stroke-color: #840705;
                }
                    .thumbnailFavBtnClicked:hover {
                        color: #840705;
                        -webkit-text-fill-color: #840705; /* Will override color (regardless of order) */
                        -webkit-text-stroke-width: 1px;
                        -webkit-text-stroke-color: #840705;
                    }

/* Details View Page */
.textContent {
    margin-top: 30px;
}
    .galleryHeader {
        font-family: 'Raleway', Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 24px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #7a7a7a
    }
    .separatorRule {
        width: 50px;
        height: 1px;
        background-color: #841c6f;
        margin: 20px auto;
    }
    .createdByContent {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin: 1px auto 1px 20px;
    }
        .avatarImg {
            width: 40px;
            height: 40px;
            /* border: 1px solid #ddd;
            border-radius: 50%; */
            background-color: #fff;
        }
        .createdByText {
            font-family: 'Raleway', Arial, Helvetica, sans-serif;
            font-weight: 400;
            font-size: 14px;
            letter-spacing: 1px;
            color: #7a7a7a;
            width: 50%;
            height: 20px;
            margin: 1px 1px 1px 15px;
        }
        .blurbText {
            font-family: 'Libre Baskerville', Georgia, 'Times New Roman', Times, serif;
            font-weight: 400;
            font-size: 14px;
            text-align: justify;
            color: #7a7a7a;
            margin: 20px 0px 40px;
        }
            .blurbText::first-letter{
                float: left;
                font-size: 42px; 
                line-height: 42px;
                margin-right: 2px;
            }
        .categoryTextBlock {
            width: 100%;
            height: 40px;
            background-color: #77aa77;
            padding: 5px auto;
        }
            .categoryText {
                font-family: 'Raleway', Arial, Helvetica, sans-serif;
                font-weight: 500;
                font-size: 14px;
                letter-spacing: 1px;
                font-style: italic;
                text-align: center;
                color: #fff;
                padding-top: 8px;
            }    
