@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Syncopate:wght@400;700&display=swap');

.textContent {
    margin-top: 30px;
}
    .galleryHeader {
        font-family: 'Raleway', Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 24px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #7a7a7a
    }
    .separatorRule {
        width: 50px;
        height: 1px;
        background-color: #841c6f;
        margin: 20px auto;
    }
    .createdByContent {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin: 1px auto 1px 20px;
    }
        .avatarImg {
            width: 40px;
            height: 40px;
            border: 1px solid #ddd;
            border-radius: 50%;
            background-color: #fff;
        }
        .createdByText {
            font-family: 'Raleway', Arial, Helvetica, sans-serif;
            font-weight: 400;
            font-size: 14px;
            letter-spacing: 1px;
            color: #7a7a7a;
            width: 50%;
            height: 20px;
            margin: 1px 1px 1px 15px;
        }
    .categoryText {
        font-family: 'Raleway', Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 1px;
        font-style: italic;
        text-align: center;
        color: #7a7a7a;
    }    
    .blurbText {
        font-family: 'Libre Baskerville', Georgia, 'Times New Roman', Times, serif;
        font-weight: 400;
        font-size: 14px;
        text-align: justify;
        color: #7a7a7a;
        margin: 20px 0px 20px;
    }
        .blurbText::first-letter{
            float: left;
            font-size: 42px; 
            line-height: 42px;
            margin-right: 2px;
        }

/* Create New Gallery */
.newGalleryBtn {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #ffc107;
    color: #000;
    border: none;
    border-radius: 3px;
    width: 120px;
    height: 40px;
    position: absolute;
    right: 0px;
    padding: 3px 1px 1px;
    margin: 30px 20px 20px auto;
}

/* Spacers */
.spacer50 {
    height: 50px;
    width: 50px;
    background-color: transparent;
}

.spacer75 {
    height: 75px;
    width: 75px;
    background-color: transparent;
}

/* Thumbnail Content*/
.thumbnailListContainer {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 700px;
    margin: 10px auto;
    padding: 10px 30px;
}
    .thumbnailView {
        padding: 0px 20px 30px 0px;
    }
        .thumbnailImgBox {
            display: flex;
            justify-content: center;
            width: 280px;
            height: 150px;
            overflow: hidden;
            background-color: #2d2d2d;
            border: 1px solid #d6d6d6;
            border-radius: 4px;
            padding: 0;
        }
        .thumbnailImg {
            object-fit: cover;
            /* width: auto;
            height: 150px; */
            border: none;
            padding: 0;
            margin: 0 auto;
        }

        .thumbnailTitlePlusEditDel {
            display: flex;
            justify-content:space-between;
            margin-top: 10px;
        }
            .thumbnailTitle {
                font-family: 'Raleway', Arial, Helvetica, sans-serif;
                font-weight: 500;
                font-size: 14px;
                letter-spacing: 1px;
                text-align: left;
                text-transform: uppercase;
                color: #7a7a7a;
                margin: 3px 6px 0px 2px;
                text-decoration: none;
            }
                .thumbnailTitle:hover {
                    text-decoration: underline;
                }
            .createDate {
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 500;
                font-size: 11px;
                /* letter-spacing: 1px; */
                text-align: left;
                color: #d6d6d6;
                margin: 3px 6px 0px 2px;
                text-decoration: none;
            }
            .thumbnailEditDelete{
                margin-right: 0px;
            }
                .thumbnailEditBtn, .thumbnailDeleteBtn {
                    display: inline-block;
                    line-height: 1.5;
                    user-select: none;
                    color: #a8a8a8;
                    background-color: transparent;
                    border: none;
                    padding: 1px 4px;
                    font-size: 14px;
                    border-radius: 0;
                }
                .thumbnailEditBtn:hover, .thumbnailDeleteBtn:hover {
                    color: #7a7a7a;
                }